*{
    box-sizing: border-box;
    margin: 0; 
    font-family: 'Montserrat', sans-serif;
}

/* Reset CSS */
a{
    text-decoration: none;
    cursor: pointer;
}

/* Header */
header{
    width: 100%;
    height: 116px;
}

.header-title{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 58px;
    font-size: 24px;
    letter-spacing: 0;
    color: #1C2A39;
}

.header-icon{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 58px;
    transform: translateY(-4px);
}

.user-icon,
.search-icon,
.shop-icon{
    color: #1C2A39;
}

.header-menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 58px;
    transform: translateY(2px);
    font-size: 11px;
}

.header-menu a{
    color: #5C6A79;
}

.header-menu a strong{
    color: #1C2A39;
}

/* Banner */
.banner{
    width: 300px;
    height: 500px; 
    margin: 20px auto 90px;
    background-color: #FFE0E2;;
}

.banner h1{
    padding-top: 40px;
    font-size: 18px; 
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    color: #1C2A39;
}

.banner .sale-percentage{
    position: relative;
    height: 170px;
    letter-spacing: 0;
    color: #fff;
}

.banner .sale-percentage .up{
    display: inline-block;
    position: absolute;
    top: 0; 
    left: 0; 
    font-size: 50px; 
    font-weight: 700;
    line-height: 1.2;
    text-shadow: 5px 5px #534FD2;
}

.banner .sale-percentage .percentage-number{
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 54px;
    font-size: 142px;
    font-weight: 900;
    line-height: 1.2;
    text-shadow: 5px 5px #534FD2;
}

.banner .sale-percentage .percentage-icon{
    display: inline-block;
    position: absolute;
    bottom: 0; 
    right: 0;
    font-size: 40px; 
    font-weight: 700;
    line-height: 1.2;
    text-shadow: 3px 3px #534FD2;
}

.change-book-page{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 260px;
    left: 15px;
    width: 130px;
    height: 150px; 
    font-size: 16px; 
    font-weight: 700;
    text-transform: uppercase;
    background-color: #9E98DC;
}

.top-100-page{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 310px;
    right: 15px; 
    width: 130px; 
    height: 150px; 
    font-size: 16px; 
    font-weight: 700;
    text-transform: uppercase;
    background-color: #FF8FE6;
}

/* Aside */
.bestsellers-category header{
    display: flex;
    align-items: center;
    height: 40px;
    margin-bottom: 18px;
}

.bestsellers-category .col-5{
    background-color: #EFEEF6;
}

.bestsellers-category .fa-circle{
    width: 6px; 
    height: 6px;
    margin-right: 13px;
    color: #756AD3; 
}

.bestsellers-category h1{
    font-size: 16px;
    color: #1C2A39;
}

.bestsellers-category ul{
    list-style-type: none;
}

.bestsellers-category li{
    margin-bottom: 23px;
}

.bestsellers-category li a{
    font-size: 12px; 
    font-weight: 500;
    line-height: 1.25;
    color: #5C6A79;
}

.bestsellers-category li:last-child{
    margin-bottom: 0;
}

.bestsellers-category img{
    display: block; 
    width: 190px; 
    height: 250px;
    margin-bottom: 12px; 
}

.bestsellers-category .desc .author{
    display: block; 
    margin-bottom: 4px;
    font-size: 18px;
    font-weight: 400;
    color: #5C6A79;
}

.bestsellers-category .desc h1{
    display: block;
    margin-bottom: 4px;
    font-size: 20px;
}

.bestsellers-category .desc .author, 
.bestsellers-category .desc .summary{
    font-family: 'Open Sans', sans-serif;
}

@media screen and (min-width: 768px){
    /* Header */
    .header-title{
        height: 116px;
        align-items: center;
    }

    .header-icon{
        height: 116px;
        align-items: center;
    }

    .header-menu{
        height: 116px;
        align-items: center;
        font-size: 12px;
    }

    /* Banner */
    .banner{
        width: 90%;
    }

    .banner .col-12{
        position: relative; 
    }

    .banner h1{
        margin-bottom: 10px;
        font-size: 25px;
    }

    .sale-percentage{
        width: 300px;
        margin: 0 auto;
    }

    .change-book-page{
        width: 50%;
    }

    .top-100-page{
        width: 50%;
    }
}